.container {
  margin: 15px;
  height: 100px;
  width: 100px;
  position: relative;
  border: 3px dotted  red;
  word-wrap: break-word;
  overflow: hidden;
}

.info, .control {
  height: 100%;
  width: 100%;
  position: absolute;
}

.info {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.control {
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: transparent;
  }
  button:hover {
    background-color: #fff;
    color: initial;
  }
}

