@use "layout";
@use "debug";

@mixin -phone {
  .expand, .collapse {
    position: fixed;
    z-index: 500;
  }
  .icon {
    font-size: 30px;
    grid-area: icon;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .colorSchemaSwitch {
    grid-area: colorSchemaSwitch;
  }
  .items {
    grid-area: items;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto);
    
    li {
      min-height: 100px;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }
  .collapse {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px;
    grid-template-areas: "colorSchemaSwitch . icon";
  }
  .expand {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto;
    grid-template-areas: "colorSchemaSwitch . icon" "items items items";
  }
}

@include layout.phone {
  @include -phone;
}
@include layout.tablet {
  @include -phone;
}
@include layout.desktop {
  @include -phone;
}
