.wrapper {
  border: 2px solid black;
  border-radius: 20%;
  height: 30px;
  width: 70px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "dark . light"

}
.icon_light {
  grid-area: light;
}
.icon_dark {
  grid-area: dark;
}
.icon_dark, .icon_light {
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle {
  background-color: black;
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.dark {
  right: 0;
}

.light {
  left: 0;
}
